/* -----------------------------------------
/* -----------------------------------------
/*  REGLES GENERALES -----------------------
/* -----------------------------------------
*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    box-sizing: border-box;
    max-height: 1400px;
    padding-top: 4.5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

.filtres a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.product-bot a {
    text-decoration: none;
    color: black;
    
}
.link_recom a {
    text-decoration: none;
    color: black;
    
}

img{
    max-width: 100%;
}

